{
  "presets": ["module:metro-react-native-babel-preset", "@babel/preset-flow"],
  "env": {
    "production": {
      "plugins": [
        ["@babel/plugin-transform-flow-strip-types"],
        // [
        //   "@babel/plugin-proposal-decorators",
        //   { "decoratorsBeforeExport": true, "legacy": true }
        // ],
        ["@babel/plugin-proposal-class-properties"],
        ["transform-remove-console"]
      ]
    }
  }
  // "plugins": ["@babel/plugin-proposal-class-properties"]
}
