{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "production": {
      "plugins": [
        ["@babel/plugin-transform-flow-strip-types"],
        ["@babel/plugin-proposal-decorators"],
        ["@babel/plugin-proposal-class-properties"],
        ["transform-remove-console"]
      ]
    }
  }
  // "plugins": ["@babel/plugin-proposal-class-properties"]
}
